@(messages: List[Message], groupes: List[Groupe])

@import models.Message
@import models.Groupe



@layouts.main("Messagerie IG") {
<h1>Bienvenue sur l'outil de messagerie de Polytech Montpellier</h1>

<p>Ici, vous pouvez communiquer avec les professeurs et étudiants de Polytech à travers les groupes auxquels vous appartenez.</p>

<h2>Nouveau message</h2>

<form method="post" action="@routes.HomeController.doMessageCreate()" enctype="multipart/form-data">
  <div class="form-group">
    <label for="exampleTextarea">Contenu</label>
    <textarea name="content" class="form-control" id="exampleTextarea" rows="3"></textarea>
  </div>
  <div class="form-group">
    <label for="exampleSelect1">Envoyé le</label>
    <select class="form-control" name="groupe" id="exampleSelect1">
      <option value="broadcast">Tous</option>
      @for(g <- groupes) {
        <option value="@g.getId()">@g.getName()</option>
      }
    </select>
  </div>
  <div class="form-group">
    <label for="exampleInputFile">Document</label>
    <input name="document" type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<h2>Les messages</h2>



<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>#</th>
      <th>Contenu</th>
      <th>Autheur</th>
      <th>Groupe</th>
      <th>Envoyé le</th>
      <th>Document</th>
    </tr>
    </thead>
    <tbody>
    @for(m <- messages) {
      <tr>
        <td>@m.getId()</td>
        <td>@m.getContent()</td>
        <td>@m.getAutheur().getName()</td>
        <td>
          @if(m.getGroupe() != null) {
            @m.getGroupe().getName()
          } else {
            all
          }
        </td>
        <td>@m.getCreationDate()</td>
        <td>
          @if(m.getDocument() != null) {
            <a href="@routes.DocumentController.getFile(m.getDocument().getId())">@m.getDocument().getTitle()</a>
          }
        </td>
      </tr>
    }
    </tbody>
  </table>
</div>
}
