@(messages: List[Message])

@import models.Message



@layouts.main("Messagerie IG") {
<h1>Gérer les messages</h1>

<h2>Liste des messages</h2>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>id</th>
            <th>Contenu</th>
            <th>Autheur</th>
            <th>Groupe</th>
            <th>Envoyé à</th>
            <th>Document</th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        @for(m <- messages) {
        <tr>
            <td>@m.getId()</td>
            <td>@m.getContent()</td>
            <td>@m.getAutheur().getName()</td>
            <td>
                @if(m.getGroupe() != null) {
                @m.getGroupe().getName()
                } else {
                all
                }
            </td>
            <td>@m.getCreationDate()</td>
            <td>
                @if(m.getDocument() != null) {
                <a href="assets/upload/@m.getDocument().getTitle()">@m.getDocument().getTitle()</a>
                }
            </td>
            <td><a href="@routes.MessageController.delete(m.getId())">Supprimer</a></td>
        </tr>
        }
        </tbody>
    </table>
</div>
}