@(users: List[User])

@import models.User



@layouts.main("Messagerie IG") {
<h1>Gérer les utilisateurs</h1>
<a href="@routes.UserController.create()">Ajouter un utilisateur</a>
<h2>Liste des utilisateurs</h2>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>email</th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        @for(u <- users) {
            <tr>
                <td>@u.getId()</td>
                <td>@u.getName()</td>
                <td>@u.getEmail()</td>
                <td><a href="#">Editer</a></td>
                <td><a href="@routes.UserController.delete(u.getId())">Supprimer</a></td>
            </tr>
        }
        </tbody>
    </table>
</div>

}