@(group: Groupe)

@import models.Groupe

@messagesGroupe = @{group.getMessages()};


@layouts.main("Groupe") {
<h2>Groupe @group.getName()</h2>
    @if(messagesGroupe != null) {
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Contenu</th>
                    <th>Autheur</th>
                    <th>Groupe</th>
                    <th>Envoyé à</th>
                    <th>Document</th>
                </tr>
                </thead>
                <tbody>
                @for(m <- messagesGroupe) {
                <tr>
                    <td>@m.getId()</td>
                    <td>@m.getContent()</td>
                    <td>@m.getAutheur().getName()</td>
                    <td>
                        @if(m.getGroupe() != null) {
                        @m.getGroupe().getName()
                        } else {
                        all
                        }
                    </td>
                    <td>@m.getCreationDate()</td>
                    <td>
                        @if(m.getDocument() != null) {
                        <a href="assets/upload/@m.getDocument().getTitle()">@m.getDocument().getTitle()</a>
                        }
                    </td>
                </tr>
                }
                </tbody>
            </table>
        </div>
    }

}